body{
    background-color:#EAF6F6;
}
hr{
    border-style: none;
    width: 5%;
    border-top: dotted 5px gray;
    
}
img{
    height: 120px;
}
h1{
    color: #66bfbf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: #66bfbf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    color: #66bfbf;
    font-family: 'Trebuchet MS';
}